body { margin: 0; overflow: hidden; background: #000; touch-action: none; }
a-scene { width: 100vw; height: 100vh; }
video { object-fit: cover !important; } /* Чтобы камера была на весь экран */

#btn { display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 10000; padding: 20px 40px; background: #28a745; color: #fff; border: none; border-radius: 12px; font-size: 20px; }
#status { position: fixed; top: 0; left: 0; width: 100%; padding: 10px 0; text-align: center; color: #00ff00; z-index: 10002; font-family: sans-serif; font-weight: bold; background: rgba(0, 0, 0, 0.6); }
#close-btn { display: none; position: fixed; bottom: 30px; right: 20px; z-index: 10001; padding: 15px; background: rgba(255, 0, 0, 0.7); color: white; border: none; border-radius: 50%; width: 60px; height: 60px; }
