body { 
    margin: 0; 
    overflow: hidden; 
    background: #000; 
}

/* Фикс для старых iPhone: растягиваем сцену */
a-scene {
    width: 100vw;
    height: 100vh;
}

/* Кнопка START: изначально скрыта */
#btn { 
    display: none; 
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 10000; 
    padding: 20px 40px; 
    background: #28a745; 
    color: #fff; 
    border: none; 
    border-radius: 12px; 
    font-weight: bold; 
    font-size: 20px;
    cursor: pointer;
}

/* Статус загрузки */
#status {
    position: fixed; 
    top: 0;           /* Прижмем к самому верху */
    left: 0;
    width: 100%; 
    padding: 10px 0;  /* Добавим немного отступа */
    text-align: center;
    color: #00ff00; 
    z-index: 10002;   /* Теперь он выше всех системных надписей */
    font-family: sans-serif; 
    font-weight: bold; 
    text-shadow: 2px 2px 4px #000;
    background: rgba(0, 0, 0, 0.6); /* Полупрозрачный черный фон, чтобы текст читался */
}

/* Прячем системные иконки загрузки MindAR */
.mindar-ui-scanning, .mindar-ui-loading { 
    display: none !important; 

}
